*.*
*
!*/
!/nemu/**/*
!/am-kernels/**/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/**/*
!/npc-ysyxSoC/**/*
!/ysyxSoC/**/*
!Makefile
!README.md
!.gitignore
!init.sh
/fceux-am
/nvboard
/rt-thread-am
build/
**/build/
**/.cache/
**/logs/


